Changing feature enginering

In [17]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [18]:
import numpy as np
import pandas as pd
import datetime
import gc
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings('ignore')
np.random.seed(4590)

In [19]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max(
            )
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [20]:
df_train = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/train.csv')
df_test = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/test.csv')
df_hist_trans = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/historical_transactions.csv')
df_new_merchant_trans = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/new_merchant_transactions.csv')

In [21]:
df_train=reduce_mem_usage(df_train)
df_test=reduce_mem_usage(df_test)
df_hist_trans=reduce_mem_usage(df_hist_trans)
df_new_merchant_trans=reduce_mem_usage(df_new_merchant_trans)

Mem. usage decreased to  4.04 Mb (56.2% reduction)
Mem. usage decreased to  2.24 Mb (52.5% reduction)
Mem. usage decreased to 1749.11 Mb (43.7% reduction)
Mem. usage decreased to 114.20 Mb (45.5% reduction)

Count number of purchases made in each merchant. We will use it to fill NaN values by most frequent merchant id.

Chech weather we have NaN values in the following categories

In [22]:
df_hist_trans.isnull().any()

authorized_flag         False
card_id                 False
city_id                 False
category_1              False
installments            False
category_3               True
merchant_category_id    False
merchant_id              True
month_lag               False
purchase_amount         False
purchase_date           False
category_2               True
state_id                False
subsector_id            False
dtype: bool

In [23]:
df_new_merchant_trans.isnull().any()

authorized_flag         False
card_id                 False
city_id                 False
category_1              False
installments            False
category_3               True
merchant_category_id    False
merchant_id              True
month_lag               False
purchase_amount         False
purchase_date           False
category_2               True
state_id                False
subsector_id            False
dtype: bool

It seems that 'category_2' , 'category_3' and 'mechant_id' has Nan values in historical and new mechant transactions. Now, let's count values in each of this categories for historical transactions. Let's start with 'category_2'

In [24]:
df_hist_trans.category_2.value_counts(dropna=False)

 1.0    15177199
 3.0     3911795
 5.0     3725915
NaN      2652864
 4.0     2618053
 2.0     1026535
Name: category_2, dtype: int64

There is 2652864 Nan values in 'category_2'. Now, let's check if in each 'card_id' 'category_2' have only 'Nan' unique value and change it to the most frequent values found in the whole history transacations. Most frequent seems to be 1.(in the above cell).

In order to check we can use groupby and sum function. By setting min_count=1, we can get nan value for sum of nan array, if we didn't it will give zero by default.

In [25]:
group_cat2=df_hist_trans.groupby(['card_id']).category_2.sum(min_count=1)

Now let's select those who have non-values only

In [26]:
group_cat2_nan=group_cat2[group_cat2.isnull()]

In [27]:
group_cat2_nan.head()

card_id
C_ID_001b4c5151   NaN
C_ID_001c09a36b   NaN
C_ID_0028e15a78   NaN
C_ID_002b706ded   NaN
C_ID_0030e0945f   NaN
Name: category_2, dtype: float16

I am setting index as 'card_id'. In order to , change 'category_2' values. I tried just by using 
df_hist_trans.loc[df_hist_trans.card_id.isin(group_cat2_nan.index)].category_2=1
or 
df_hist_trans[df_hist_trans.card_id.isin(group_cat2_nan.index)].category_2
and you can check by
df_hist_trans.loc[df_hist_trans.card_id.isin(group_cat2_nan.index)].category_2
or
df_hist_trans.loc[df_hist_trans.card_id.isin(group_cat2_nan.index)].category_2
You will see that values do not change. Both of this methods gives copy from the dataframe so we can't change it. It seems when you use masking(df_hist_trans.card_id.isin(group_cat2_nan.index)) you will have copy. 
Therefore, I decided to call from index and index will be 'card_id'.

In [28]:
df_hist_trans[df_hist_trans.card_id.isin(group_cat2_nan.index)].category_2=1

In [29]:
df_hist_trans[df_hist_trans.card_id.isin(group_cat2_nan.index)].category_2.head()

15207   NaN
15208   NaN
15209   NaN
15210   NaN
15211   NaN
Name: category_2, dtype: float16

You can see that it doesn't work. So , let's change index of df_hist_trans to 'card_id'. Call dataframe from their respective indexes

In [30]:
df_hist_trans.set_index('card_id',inplace=True)

In [31]:
df_hist_trans.loc[group_cat2_nan.index,'category_2']=1

In [32]:
df_hist_trans.loc[group_cat2_nan.index,'category_2'].unique()

array([ 1.])

Now, we only changed the once which have only NaN values in 'category_2'. Let's check how many nan are still there. So nan values are reduced by 115446.

In [33]:
df_hist_trans.category_2.value_counts(dropna=False)

 1.0    15327456
 3.0     3911795
 5.0     3725915
 4.0     2618053
NaN      2502607
 2.0     1026535
Name: category_2, dtype: int64

Now let's reset_index and groupby 'card_id' and 'category' . We can look at number of counts in each category of 'category_2'.

In [34]:
df_hist_trans.reset_index(inplace=True)

In [35]:
category_2_count=df_hist_trans.groupby(['card_id','category_2']).count()

In [36]:
category_2_count.head(10)

                            authorized_flag  city_id  category_1  \
card_id         category_2
C_ID_00007093c1 3.0                     120      120         120
                5.0                       1        1           1
C_ID_0001238066 1.0                      95       95          95
                5.0                      20       20          20
C_ID_0001506ef0 1.0                       2        2           2
                3.0                      64       64          64
C_ID_0001793786 1.0                      11       11          11
                2.0                      76       76          76
                3.0                      15       15          15
C_ID_000183fdda 1.0                       7        7           7

                            installments  category_3  merchant_category_id  \
card_id         category_2
C_ID_00007093c1 3.0                  120         120                   120
                5.0                    1           1                     1
C_ID_0001238066 1.0                   95          94                    95
                5.0                   20          19                    20
C_ID_0001506ef0 1.0                    2           2                     2
                3.0                   64          64                    64
C_ID_0001793786 1.0                   11          11                    11
                2.0                   76          76                    76
                3.0                   15          15                    15
C_ID_000183fdda 1.0                    7           7                     7

                            merchant_id  month_lag  purchase_amount  \
card_id         category_2
C_ID_00007093c1 3.0                 120        120              120
                5.0                   1          1                1
C_ID_0001238066 1.0                  95         95               95
                5.0                  20         20               20
C_ID_0001506ef0 1.0                   2          2                2
                3.0                  64         64               64
C_ID_0001793786 1.0                  11         11               11
                2.0                  76         76               76
                3.0                  15         15               15
C_ID_000183fdda 1.0                   7          7                7

                            purchase_date  state_id  subsector_id
card_id         category_2
C_ID_00007093c1 3.0                   120       120           120
                5.0                     1         1             1
C_ID_0001238066 1.0                    95        95            95
                5.0                    20        20            20
C_ID_0001506ef0 1.0                     2         2             2
                3.0                    64        64            64
C_ID_0001793786 1.0                    11        11            11
                2.0                    76        76            76
                3.0                    15        15            15
C_ID_000183fdda 1.0                     7         7             7

We need only one column(since all of them are same) let's choose 'authorized_flag'.

In [37]:
category_2_count=category_2_count.authorized_flag

In [38]:
category_2_count.head(20)

card_id          category_2
C_ID_00007093c1  3.0           120
                 5.0             1
C_ID_0001238066  1.0            95
                 5.0            20
C_ID_0001506ef0  1.0             2
                 3.0            64
C_ID_0001793786  1.0            11
                 2.0            76
                 3.0            15
C_ID_000183fdda  1.0             7
                 2.0             1
                 3.0           131
                 5.0             1
C_ID_00024e244b  1.0             3
                 3.0            67
C_ID_0002709b5a  1.0             1
                 2.0            52
                 5.0            14
C_ID_00027503e2  1.0             3
                 3.0            39
Name: authorized_flag, dtype: int64

We will need only index of maximum values. We can do it by groupby(level=0), level=0 is 'card_id' in our case.

In [39]:
category_2_count_max=category_2_count.groupby(level=0).idxmax()

Now we need only second part of the tuple. Finally, we will obtain Series object with corresponding max count of categories for each 'card_id'

In [40]:
category_2_count_max=category_2_count_max.apply(lambda x: x[1])

In [41]:
category_2_count_max.head()

card_id
C_ID_00007093c1    3.0
C_ID_0001238066    1.0
C_ID_0001506ef0    3.0
C_ID_0001793786    2.0
C_ID_000183fdda    3.0
Name: authorized_flag, dtype: float64

Now, we can input most frequent 'category_2' value for each non value in certain 'card_id'

In [42]:
df_hist_trans.set_index('card_id',inplace=True)
df_hist_trans.head()

,authorized_flag,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
card_id,,,,,,,,,,,,,
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

Let's check what where value counts before

In [43]:
df_hist_trans.category_2.value_counts(dropna=False)

 1.0    15327456
 3.0     3911795
 5.0     3725915
 4.0     2618053
NaN      2502607
 2.0     1026535
Name: category_2, dtype: int64

Fill nan values according to given series by using fillna function

In [44]:
df_hist_trans.category_2=df_hist_trans.category_2.fillna(category_2_count_max)

Finally, we get rid of all nan values for 'category_2' . Now, we can try same for 'category_3' and 'merchant_id'. Also, we need to do same for 'df_new_merchant_trans'. Finally, let's check if there is any nan values in category_2

In [45]:
df_hist_trans.category_2.value_counts(dropna=False)

1.0    16804879
3.0     4289903
5.0     4050578
4.0     2793190
2.0     1173811
Name: category_2, dtype: int64

Let's do same for 'category_3'

In [46]:
df_hist_trans.category_3.value_counts(dropna=False)

A      15411747
B      11677522
C       1844933
NaN      178159
Name: category_3, dtype: int64

Let's change 'A' , 'B', 'C' to numerical values in order to be able to use sum(min_counts=1) function

In [47]:
d_cat3={'A':1,'B':2,'C':3}

In [48]:
df_hist_trans.category_3=df_hist_trans.category_3.map(d_cat3)

In [49]:
df_hist_trans.head()

,authorized_flag,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
card_id,,,,,,,,,,,,,
C_ID_4e6213e9bc,Y,88,N,0,1.0,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,1.0,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
C_ID_4e6213e9bc,Y,88,N,0,1.0,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,1.0,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
C_ID_4e6213e9bc,Y,88,N,0,1.0,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

In [50]:
df_hist_trans.category_3.value_counts(dropna=False)

 1.0    15411747
 2.0    11677522
 3.0     1844933
NaN       178159
Name: category_3, dtype: int64

In [51]:
group_cat3=df_hist_trans.groupby(['card_id']).category_3.sum(min_count=1)

In [52]:
group_cat3.isnull().sum()

0

### This means that we don't have any card_id which have only NaN values in category_3. So we can jump to changing nan values in each card id.

In [53]:
df_hist_trans.reset_index(inplace=True)
category_3_count=df_hist_trans.groupby(['card_id','category_3']).count()
category_3_count=category_3_count.authorized_flag
category_3_count_max=category_3_count.groupby(level=0).idxmax()
category_3_count_max=category_3_count_max.apply(lambda x: x[1])
category_3_count_max.head()

card_id
C_ID_00007093c1    2.0
C_ID_0001238066    2.0
C_ID_0001506ef0    1.0
C_ID_0001793786    1.0
C_ID_000183fdda    2.0
Name: authorized_flag, dtype: float64

### Let's check again what was before

In [54]:
df_hist_trans.set_index('card_id',inplace=True)
df_hist_trans.category_3.value_counts(dropna=False)

 1.0    15411747
 2.0    11677522
 3.0     1844933
NaN       178159
Name: category_3, dtype: int64

In [55]:
df_hist_trans.category_3=df_hist_trans.category_3.fillna(category_3_count_max)
df_hist_trans.category_3.value_counts(dropna=False)

1.0    15412531
2.0    11833535
3.0     1866295
Name: category_3, dtype: int64

In [56]:
d_cat3_inv={1.0:"A",2.0:"B",3.0:"C"}
df_hist_trans.category_3=df_hist_trans.category_3.map(d_cat3_inv)
df_hist_trans.category_3.value_counts(dropna=False)

A    15412531
B    11833535
C     1866295
Name: category_3, dtype: int64

### Now let's do it for merchant_id

In [57]:
#df_hist_trans.set_index('card_id',inplace=True)
df_hist_trans.merchant_id.value_counts(dropna=False).head()

M_ID_00a6ca8a8a    1115097
M_ID_e5374dabc0     428619
M_ID_9139332ccc     361385
M_ID_50f575c681     183894
M_ID_fc7d7969c3     177040
Name: merchant_id, dtype: int64

In [58]:
df_hist_trans.reset_index(inplace=True)
merchant_id_count=df_hist_trans.groupby(['card_id','merchant_id']).count()
merchant_id_count=merchant_id_count.authorized_flag
merchant_id_count_max=merchant_id_count.groupby(level=0).idxmax()
merchant_id_count_max=merchant_id_count_max.apply(lambda x: x[1])
merchant_id_count_max.head()

card_id
C_ID_00007093c1    M_ID_9400cf2342
C_ID_0001238066    M_ID_d17aabd756
C_ID_0001506ef0    M_ID_b1fc88154d
C_ID_0001793786    M_ID_923d57de8d
C_ID_000183fdda    M_ID_f9cfe0a43b
Name: authorized_flag, dtype: object

### Let's check again what was before

In [59]:
df_hist_trans.set_index('card_id',inplace=True)
df_hist_trans.merchant_id.value_counts(dropna=False).head(20)

M_ID_00a6ca8a8a    1115097
M_ID_e5374dabc0     428619
M_ID_9139332ccc     361385
M_ID_50f575c681     183894
M_ID_fc7d7969c3     177040
M_ID_5ba019a379     170935
NaN                 138481
M_ID_f86439cec0     110341
M_ID_1f4773aa76     106476
M_ID_86be58d7e0      97259
M_ID_98b342c0e3      93394
M_ID_d855771cd9      84377
M_ID_6f274b9340      81072
M_ID_cd2c0b07e9      80179
M_ID_57df19bf28      76750
M_ID_b9dcf28cb9      75487
M_ID_b98db225f5      70384
M_ID_445742726b      68499
M_ID_2637773dd2      66836
M_ID_82a30d9203      65853
Name: merchant_id, dtype: int64

In [60]:
df_hist_trans.merchant_id=df_hist_trans.merchant_id.fillna(merchant_id_count_max)
df_hist_trans.merchant_id.value_counts(dropna=False).head()

M_ID_00a6ca8a8a    1130790
M_ID_e5374dabc0     433318
M_ID_9139332ccc     364256
M_ID_50f575c681     185941
M_ID_fc7d7969c3     177967
Name: merchant_id, dtype: int64

### Finally, let's check if any nan values left

In [61]:
df_hist_trans.isnull().any()

authorized_flag         False
city_id                 False
category_1              False
installments            False
category_3              False
merchant_category_id    False
merchant_id             False
month_lag               False
purchase_amount         False
purchase_date           False
category_2              False
state_id                False
subsector_id            False
dtype: bool

In [62]:
#df_hist_trans.to_csv('C:/Users/user/Documents/Salamat/ELO/historical_transactions_new.csv')

### Now, let's do same for new merchant transactions

In [63]:
#df_new_merchant_trans = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/new_merchant_transactions.csv')

In [64]:
df_new_merchant_trans.isnull().any()

authorized_flag         False
card_id                 False
city_id                 False
category_1              False
installments            False
category_3               True
merchant_category_id    False
merchant_id              True
month_lag               False
purchase_amount         False
purchase_date           False
category_2               True
state_id                False
subsector_id            False
dtype: bool

In [65]:
df_new_merchant_trans.category_2.value_counts(dropna=False)

 1.0    1058242
 3.0     289525
 5.0     259266
 4.0     178590
NaN      111745
 2.0      65663
Name: category_2, dtype: int64

In [66]:
group_cat2=df_new_merchant_trans.groupby(['card_id']).category_2.sum(min_count=1)

In [67]:
group_cat2_nan=group_cat2[group_cat2.isnull()]
group_cat2_nan.head()

card_id
C_ID_000cfb6503   NaN
C_ID_000f6fea6a   NaN
C_ID_000f7e3e49   NaN
C_ID_0017dadfd5   NaN
C_ID_001b43d48f   NaN
Name: category_2, dtype: float16

In [68]:
df_new_merchant_trans.set_index('card_id',inplace=True)
df_new_merchant_trans.loc[group_cat2_nan.index,'category_2']=1
df_new_merchant_trans.loc[group_cat2_nan.index,'category_2'].unique()

array([ 1.])

In [69]:
df_new_merchant_trans.category_2.value_counts(dropna=False)

 1.0    1077518
 3.0     289525
 5.0     259266
 4.0     178590
NaN       92469
 2.0      65663
Name: category_2, dtype: int64

In [70]:
df_new_merchant_trans.reset_index(inplace=True)
category_2_count=df_new_merchant_trans.groupby(['card_id','category_2']).count()
category_2_count.head(10)

                            authorized_flag  city_id  category_1  \
card_id         category_2
C_ID_00007093c1 1.0                       1        1           1
                3.0                       1        1           1
C_ID_0001238066 1.0                      20       20          20
                5.0                       3        3           3
C_ID_0001506ef0 3.0                       2        2           2
C_ID_0001793786 1.0                      15       15          15
                2.0                       8        8           8
                3.0                       5        5           5
                5.0                       1        1           1
C_ID_000183fdda 3.0                      11       11          11

                            installments  category_3  merchant_category_id  \
card_id         category_2
C_ID_00007093c1 1.0                    1           1                     1
                3.0                    1           1                     1
C_ID_0001238066 1.0                   20          19                    20
                5.0                    3           3                     3
C_ID_0001506ef0 3.0                    2           2                     2
C_ID_0001793786 1.0                   15          15                    15
                2.0                    8           8                     8
                3.0                    5           5                     5
                5.0                    1           1                     1
C_ID_000183fdda 3.0                   11          10                    11

                            merchant_id  month_lag  purchase_amount  \
card_id         category_2
C_ID_00007093c1 1.0                   1          1                1
                3.0                   1          1                1
C_ID_0001238066 1.0                  20         20               20
                5.0                   3          3                3
C_ID_0001506ef0 3.0                   1          2                2
C_ID_0001793786 1.0                  15         15               15
                2.0                   8          8                8
                3.0                   5          5                5
                5.0                   1          1                1
C_ID_000183fdda 3.0                  11         11               11

                            purchase_date  state_id  subsector_id
card_id         category_2
C_ID_00007093c1 1.0                     1         1             1
                3.0                     1         1             1
C_ID_0001238066 1.0                    20        20            20
                5.0                     3         3             3
C_ID_0001506ef0 3.0                     2         2             2
C_ID_0001793786 1.0                    15        15            15
                2.0                     8         8             8
                3.0                     5         5             5
                5.0                     1         1             1
C_ID_000183fdda 3.0                    11        11            11

In [71]:
category_2_count=category_2_count.authorized_flag
category_2_count_max=category_2_count.groupby(level=0).idxmax()
category_2_count_max=category_2_count_max.apply(lambda x: x[1])
category_2_count_max.head()

card_id
C_ID_00007093c1    1.0
C_ID_0001238066    1.0
C_ID_0001506ef0    3.0
C_ID_0001793786    1.0
C_ID_000183fdda    3.0
Name: authorized_flag, dtype: float64

In [72]:
df_new_merchant_trans.set_index('card_id',inplace=True)
print("before replacing nan values")
print(df_new_merchant_trans.category_2.value_counts(dropna=False))
df_new_merchant_trans.category_2=df_new_merchant_trans.category_2.fillna(category_2_count_max)
print("after replacing nan values")
print(df_new_merchant_trans.category_2.value_counts(dropna=False))

before replacing nan values
 1.0    1077518
 3.0     289525
 5.0     259266
 4.0     178590
NaN       92469
 2.0      65663
Name: category_2, dtype: int64
after replacing nan values
1.0    1129966
3.0     304780
5.0     270897
4.0     185915
2.0      71473
Name: category_2, dtype: int64

### Now let's do it in category_3

In [73]:
df_new_merchant_trans.category_3.value_counts(dropna=False)

A      922244
B      836178
C      148687
NaN     55922
Name: category_3, dtype: int64

In [74]:
d_cat3={'A':1,'B':2,'C':3}
df_new_merchant_trans.category_3=df_new_merchant_trans.category_3.map(d_cat3)
df_new_merchant_trans.category_3.value_counts(dropna=False)

 1.0    922244
 2.0    836178
 3.0    148687
NaN      55922
Name: category_3, dtype: int64

In [75]:
group_cat3.isnull().sum()

0

### This means that we don't have any card_id which have only NaN values in category_3. So we can jump to changing nan values in each card id.

In [76]:
df_new_merchant_trans.reset_index(inplace=True)
category_3_count=df_new_merchant_trans.groupby(['card_id','category_3']).count()
category_3_count=category_3_count.authorized_flag
category_3_count_max=category_3_count.groupby(level=0).idxmax()
category_3_count_max=category_3_count_max.apply(lambda x: x[1])
category_3_count_max.head()

card_id
C_ID_00007093c1    2.0
C_ID_0001238066    2.0
C_ID_0001506ef0    1.0
C_ID_0001793786    1.0
C_ID_000183fdda    2.0
Name: authorized_flag, dtype: float64

### Let's check again what was before

In [77]:
df_new_merchant_trans.set_index('card_id',inplace=True)
df_new_merchant_trans.category_3.value_counts(dropna=False)

 1.0    922244
 2.0    836178
 3.0    148687
NaN      55922
Name: category_3, dtype: int64

In [78]:
df_new_merchant_trans.category_3=df_new_merchant_trans.category_3.fillna(category_3_count_max)
df_new_merchant_trans.category_3.value_counts(dropna=False)

 1.0    922575
 2.0    883126
 3.0    154744
NaN       2586
Name: category_3, dtype: int64

### There are still categories which are Nan. Maybe we can get them from historical transactions.

In [79]:
df_hist_trans.category_3.value_counts(dropna=False)

A    15412531
B    11833535
C     1866295
Name: category_3, dtype: int64

In [80]:
#df_hist_trans = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/historical_transactions.csv')
#df_hist_trans=reduce_mem_usage(df_hist_trans)

In [81]:
df_hist_trans.category_3=df_hist_trans.category_3.map(d_cat3)

In [82]:
category_3_count_h=df_hist_trans.groupby(['card_id','category_3']).count()
category_3_count_h=category_3_count_h.authorized_flag
category_3_count_h_max=category_3_count_h.groupby(level=0).idxmax()
category_3_count_h_max=category_3_count_h_max.apply(lambda x: x[1])
category_3_count_h_max.head()

card_id
C_ID_00007093c1    2
C_ID_0001238066    2
C_ID_0001506ef0    1
C_ID_0001793786    1
C_ID_000183fdda    2
Name: authorized_flag, dtype: int64

In [83]:
df_new_merchant_trans.category_3=df_new_merchant_trans.category_3.fillna(category_3_count_h_max)
df_new_merchant_trans.category_3.value_counts(dropna=False)

1.0    922582
2.0    884860
3.0    155589
Name: category_3, dtype: int64

In [84]:
df_new_merchant_trans.category_3=df_new_merchant_trans.category_3.map(d_cat3_inv)
df_new_merchant_trans.category_3.value_counts(dropna=False)

A    922582
B    884860
C    155589
Name: category_3, dtype: int64

### Good we are able to remove all nan values by using historic transactions for category_3
### Now, let's work on 'merchant_id'

In [85]:
df_new_merchant_trans.merchant_id.value_counts(dropna=False).head()

NaN                26216
M_ID_00a6ca8a8a    23018
M_ID_cd2c0b07e9    19118
M_ID_9139332ccc    14220
M_ID_50f575c681    13778
Name: merchant_id, dtype: int64

In [86]:
df_new_merchant_trans[df_new_merchant_trans.merchant_id.isnull()].shape

(26216, 13)

In [87]:

#df_new_merchant_trans[df_new_merchant_trans.merchant_id.isnull()].index.unique().shape

### Almost all of them are unique

In [88]:
df_new_merchant_trans.reset_index(inplace=True)
merchant_id_count=df_new_merchant_trans.groupby(['card_id','merchant_id']).count()
merchant_id_count=merchant_id_count.authorized_flag
merchant_id_count_max=merchant_id_count.groupby(level=0).idxmax()
merchant_id_count_max=merchant_id_count_max.apply(lambda x: x[1])
merchant_id_count_max.head()

card_id
C_ID_00007093c1    M_ID_00a6ca8a8a
C_ID_0001238066    M_ID_00a6ca8a8a
C_ID_0001506ef0    M_ID_ab756f937e
C_ID_0001793786    M_ID_0360f86430
C_ID_000183fdda    M_ID_113378fe3b
Name: authorized_flag, dtype: object

In [89]:
df_new_merchant_trans.merchant_id=df_new_merchant_trans.merchant_id.fillna(merchant_id_count_max)
df_new_merchant_trans.merchant_id.value_counts(dropna=False).head()

NaN                26216
M_ID_00a6ca8a8a    23018
M_ID_cd2c0b07e9    19118
M_ID_9139332ccc    14220
M_ID_50f575c681    13778
Name: merchant_id, dtype: int64

### It doesn't help at all. So, let's use data from historical transactions.
### It seems that historic transaction doesn't help as well. Probably

In [90]:
#df_hist_trans = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/historical_transactions.csv')
#df_hist_trans=reduce_mem_usage(df_hist_trans)

In [91]:
merchant_id_count_h=df_hist_trans.groupby(['card_id','merchant_id']).count()
merchant_id_count_h=merchant_id_count_h.authorized_flag
merchant_id_count_max_h=merchant_id_count_h.groupby(level=0).idxmax()
merchant_id_count_max_h=merchant_id_count_max_h.apply(lambda x: x[1])
merchant_id_count_max_h.head()

card_id
C_ID_00007093c1    M_ID_9400cf2342
C_ID_0001238066    M_ID_d17aabd756
C_ID_0001506ef0    M_ID_b1fc88154d
C_ID_0001793786    M_ID_923d57de8d
C_ID_000183fdda    M_ID_f9cfe0a43b
Name: authorized_flag, dtype: object

In [92]:
df_new_merchant_trans.merchant_id=df_new_merchant_trans.merchant_id.fillna(merchant_id_count_max_h)
df_new_merchant_trans.merchant_id.value_counts(dropna=False).head()

NaN                26216
M_ID_00a6ca8a8a    23018
M_ID_cd2c0b07e9    19118
M_ID_9139332ccc    14220
M_ID_50f575c681    13778
Name: merchant_id, dtype: int64

### It seems that historic transaction doesn't help as well. Probably, those card_id with nan values appear only in new transaction

In [93]:
car_id_nan=df_new_merchant_trans[df_new_merchant_trans.merchant_id.isnull()].card_id

In [94]:

df_hist_trans[df_hist_trans.index.isin(car_id_nan)].merchant_id.value_counts()

M_ID_00a6ca8a8a    117564
M_ID_e5374dabc0     38087
M_ID_9139332ccc     26338
M_ID_50f575c681     18789
M_ID_5ba019a379     16390
M_ID_fc7d7969c3     13282
M_ID_f86439cec0     10975
M_ID_1f4773aa76     10091
M_ID_98b342c0e3      9857
M_ID_d855771cd9      8569
M_ID_cd2c0b07e9      8220
M_ID_86be58d7e0      7555
M_ID_b9dcf28cb9      7378
M_ID_2637773dd2      6833
M_ID_82a30d9203      6532
M_ID_b98db225f5      6506
M_ID_6f274b9340      5598
M_ID_940fb4498f      5445
M_ID_c03b62d83d      5376
M_ID_57df19bf28      5061
M_ID_48257bb851      4820
M_ID_820c7b73c8      4691
M_ID_445742726b      4688
M_ID_deb43ff012      4538
M_ID_a9d91682ad      4436
M_ID_26d4fadb60      4220
M_ID_1ac6bbc867      4210
M_ID_7c5e93af2f      4137
M_ID_b5b80addf5      4110
M_ID_59764e8cb1      3823
                    ...
M_ID_9e1b313e1d         1
M_ID_8f71384293         1
M_ID_9373c4c47c         1
M_ID_5caab2936b         1
M_ID_7878f48877         1
M_ID_d0790827e6         1
M_ID_fbc8ecda4b         1
M_ID_d5c415fdf1         1
M_ID_d4d31275f1         1
M_ID_675f637c95         1
M_ID_6ae8c91be3         1
M_ID_d473963538         1
M_ID_4eb12cc902         1
M_ID_f6cebe42ad         1
M_ID_69cc914733         1
M_ID_d4b93c08df         1
M_ID_fda176ed1f         1
M_ID_a6debc845d         1
M_ID_a46e4bb5df         1
M_ID_b8b1d34e6f         1
M_ID_fccfc16918         1
M_ID_e47349519a         1
M_ID_198dfa62dd         1
M_ID_d4fc051b0c         1
M_ID_f7c777401c         1
M_ID_7e47124517         1
M_ID_49a253746e         1
M_ID_2347a35a9e         1
M_ID_a01bccd3ca         1
M_ID_866bc4005c         1
Name: merchant_id, Length: 181925, dtype: int64

### Let's just change to the most frequent value

In [95]:
df_new_merchant_trans.merchant_id.value_counts().head()

M_ID_00a6ca8a8a    23018
M_ID_cd2c0b07e9    19118
M_ID_9139332ccc    14220
M_ID_50f575c681    13778
M_ID_725a60d404     7029
Name: merchant_id, dtype: int64

In [96]:
df_new_merchant_trans['merchant_id'].fillna('M_ID_00a6ca8a8a',inplace=True)

In [97]:
df_new_merchant_trans.isnull().any()

card_id                 False
authorized_flag         False
city_id                 False
category_1              False
installments            False
category_3              False
merchant_category_id    False
merchant_id             False
month_lag               False
purchase_amount         False
purchase_date           False
category_2              False
state_id                False
subsector_id            False
dtype: bool

In [98]:
#df_new_merchant_trans.to_csv('C:/Users/user/Documents/Salamat/ELO/new_merchant_transactions_new.csv')

In [99]:
# df_hist_trans = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/historical_transactions_new.csv')
# df_hist_trans=reduce_mem_usage(df_hist_trans)

In [100]:
df_hist_trans.isnull().any()

authorized_flag         False
city_id                 False
category_1              False
installments            False
category_3              False
merchant_category_id    False
merchant_id             False
month_lag               False
purchase_amount         False
purchase_date           False
category_2              False
state_id                False
subsector_id            False
dtype: bool

# Testing is started here

In [101]:
df_hist_trans = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/historical_transactions_new.csv')
df_new_merchant_trans = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/new_merchant_transactions_new.csv')
df_train = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/train.csv')
df_test = pd.read_csv('test_without_nan.csv') # nan values filled by first purchase from historic transactions

In [102]:
df_hist_trans=reduce_mem_usage(df_hist_trans)
df_new_merchant_trans=reduce_mem_usage(df_new_merchant_trans)
df_train=reduce_mem_usage(df_train)
df_test=reduce_mem_usage(df_test)

Mem. usage decreased to 1749.11 Mb (43.7% reduction)
Mem. usage decreased to 114.20 Mb (45.5% reduction)
Mem. usage decreased to  4.04 Mb (56.2% reduction)
Mem. usage decreased to  2.24 Mb (52.5% reduction)

### Now let's work with dates . We need reference date at month_lag=0. Let's start with converting purchase_date to datime

In [105]:
df_hist_trans.purchase_date=pd.to_datetime(df_hist_trans.purchase_date)

In [106]:
pur_date=df_hist_trans[df_hist_trans.month_lag==0].groupby('card_id').purchase_date.max()

In [107]:
index_month_lag_nan=df_hist_trans[df_hist_trans.card_id.isin(pur_date.index)==False].index

In [108]:
card_id_nan_unique=df_hist_trans.loc[index_month_lag_nan].card_id.unique()

In [109]:
df_hist_trans.purchase_date=pd.to_datetime(df_hist_trans.purchase_date)

In [110]:
df_hist_trans.head()

,card_id,authorized_flag,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,C_ID_4e6213e9bc,Y,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,C_ID_4e6213e9bc,Y,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

In [111]:
pur_date.head()

card_id
C_ID_00007093c1   2018-02-27 05:14:57
C_ID_0001238066   2018-02-27 16:18:59
C_ID_0001506ef0   2018-02-17 12:33:56
C_ID_0001793786   2017-10-31 20:20:18
C_ID_000183fdda   2018-02-25 20:57:08
Name: purchase_date, dtype: datetime64[ns]

In [112]:
pur_date.shape

(293172,)

In [113]:
df_hist_trans.groupby('card_id').count().shape

(325540, 13)

### There is a lot of missing values. I have tried various ways to fillna . Starting from simplest for more in depth
1) Just fill it with 2018 Feb

2) Check max(month_lag) which is something but not [-1,-11] in hystory_transactions, than just find month_lag==0 purchase date by adding respective month_lag*30. It makes sense to do. However, error was actually higher than previous example (3.699)

3) Since  at purchase_date at max(month_lag) might be in between the beggining and the end of the month we might have error of 1 month. Therefore, I tried to add max(purchase_date)+min(purchase_date)/(1+(min(abs(month_lag)+max(abs(month_lag)) (doesn't help)

4) Since it doesn't help I decided to change which are in 2018 to Feb 2018

### Finally, first one seems to be best solution.

I will show how I did it just each of them.

### 1) Filling nan values with 2018 Feb
Let's choose values which are NaN in history_transactions

In [114]:
df_hist_trans.reset_index(inplace=True)

In [115]:
card_id_nan_unique=df_hist_trans[df_hist_trans.card_id.isin(pur_date.index)==False].card_id.unique()

In [116]:
df=pd.DataFrame(card_id_nan_unique)
df['month_lag_date']=pd.to_datetime('2008-02') # Seetting all nan values to 2018 Feb
df.set_index(0,inplace=True)
new_map=df.month_lag_date
del df

pur_date_1=pur_date.append(new_map)
train_month_lag_0=df_train.card_id.map(pur_date_1)
test_month_lag_0=df_test.card_id.map(pur_date_1)
hist_lag_0=df_hist_trans.card_id.map( pur_date_1)
new_mech_lag_0=df_new_merchant_trans.card_id.map(pur_date_1)

### 2) Filling nan values with respect to max(month_lag) in history_transacation. Simply by adding number of days with respect max(month lag) . max(purchase_date)+ abs(max(month_lag))*30

In [117]:
hist_month_lag_max=df_hist_trans.loc[index_month_lag_nan,['card_id','purchase_date','month_lag']].groupby('card_id').max()
hist_month_lag_max_=hist_month_lag_max.copy()
new_map=hist_month_lag_max_.purchase_date+ pd.to_timedelta(hist_month_lag_max_.month_lag.abs()*30,unit='D')

train_month_lag_0=df_train.card_id.map(new_map)
test_month_lag_0=df_test.card_id.map(new_map)
hist_lag_0=df_hist_trans.card_id.map( new_map)
new_mech_lag_0=df_new_merchant_trans.card_id.map(new_map)

In [118]:
pur_date_2=pur_date.append(new_map)

### Now you just to add to purch. Incomment below lines if u wanna try method 3

In [119]:

hist_month_lag_min_max=df_hist_trans.loc[index_month_lag_nan,['card_id','month_lag','purchase_date']].groupby('card_id').agg(['min','max'])
hist_month_lag_min_max['average_month']=(hist_month_lag_min_max['purchase_date']['max']-hist_month_lag_min_max['purchase_date']['min'])
hist_month_lag_min_max['average_month']=hist_month_lag_min_max['average_month']/(1-hist_month_lag_min_max.month_lag['min']+hist_month_lag_min_max.month_lag['max'])
hist_month_lag_min_max['month_lag_0_date']=hist_month_lag_min_max.purchase_date['max']-hist_month_lag_min_max.month_lag['max']*hist_month_lag_min_max['average_month']
new_map=hist_month_lag_min_max.month_lag_0_date

In [120]:
pur_date_3=pur_date.append(new_map)

### Now you just to add to purch. Incomment below lines if u wanna try method 4

In [121]:
ref_2018=pd.to_datetime('2018-02')
new_map=new_map.apply(lambda x: ref_2018 if x.year==2018 else x )
pur_date_4=pur_date.append(new_map)
# train_month_lag_0=df_train.card_id.map(pur_date_4)
# test_month_lag_0=df_test.card_id.map(pur_date_4)
# hist_lag_0=df_hist_trans.card_id.map( pur_date_4)
# new_mech_lag_0=df_new_merchant_trans.card_id.map(pur_date_4)

### Finally, uncomment and change name of the files if you wanna save results .

In [122]:
# train_month_lag_0.to_csv('C:/Users/user/Documents/Salamat/ELO/train_month_lag_0_updated.csv',index=False,header=None)
# test_month_lag_0.to_csv('C:/Users/user/Documents/Salamat/ELO/test_month_lag_0_updated.csv',index=False,header=None)
# hist_lag_0.to_csv('C:/Users/user/Documents/Salamat/ELO/hist_month_lag_0_updated.csv',index=False,header=None)
# new_mech_lag_0.to_csv('C:/Users/user/Documents/Salamat/ELO/new_mech_month_lag_0_updated.csv',index=False,header=None)

### 1) is the best solution 4) is second best solution
## Finally, we fill all missing values now we can do some feature engineering

### reload files if required

In [123]:
# df_train = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/train.csv')
# df_test = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/test.csv')
# df_hist_trans = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/historical_transactions_new.csv')
# df_new_merchant_trans = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/new_merchant_transactions_new.csv')

# df_train=reduce_mem_usage(df_train)
# df_test=reduce_mem_usage(df_test)
# df_hist_trans=reduce_mem_usage(df_hist_trans)
# df_new_merchant_trans=reduce_mem_usage(df_new_merchant_trans)

In [124]:

# train_month_lag_0=pd.read_csv('C:/Users/user/Documents/Salamat/ELO/train_month_lag_0.csv',header=None,squeeze=True,parse_dates=[0])
# test_month_lag_0=pd.read_csv('C:/Users/user/Documents/Salamat/ELO/test_month_lag_0.csv',header=None,squeeze=True,parse_dates=[0])
# hist_lag_0=pd.read_csv('C:/Users/user/Documents/Salamat/ELO/hist_month_lag_0.csv',header=None,squeeze=True,parse_dates=[0])
# new_mech_lag_0=pd.read_csv('C:/Users/user/Documents/Salamat/ELO/new_mech_month_lag_0.csv',header=None,squeeze=True,parse_dates=[0])

In [125]:
#for df in [df_hist_trans,df_new_merchant_trans]:
#    df['category_2'].fillna(1.0,inplace=True)
#    df['category_3'].fillna('A',inplace=True)
#    df['merchant_id'].fillna('M_ID_00a6ca8a8a',inplace=True)

In [126]:
pur_date.shape

(293172,)

In [127]:
pur_date_4.head()

card_id
C_ID_00007093c1   2018-02-27 05:14:57
C_ID_0001238066   2018-02-27 16:18:59
C_ID_0001506ef0   2018-02-17 12:33:56
C_ID_0001793786   2017-10-31 20:20:18
C_ID_000183fdda   2018-02-25 20:57:08
dtype: datetime64[ns]

In [128]:
pur_date_4.shape

(325540,)

In [129]:
def get_new_columns(name,aggs):
    return [name + '_' + k + '_' + agg for k in aggs.keys() for agg in aggs[k]]

In [130]:
methods=[pur_date_1,pur_date_2,pur_date_3,pur_date_4]

In [133]:
results=[]
CV_error=[]
#methods=[pur_date_1,pur_date_2,pur_date_3,pur_date_4]
methods=[pur_date_4]
for method in methods:
    df_hist_trans = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/historical_transactions_new.csv')
    df_new_merchant_trans = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/new_merchant_transactions_new.csv')
    df_train = pd.read_csv('C:/Users/user/Documents/Salamat/ELO/train.csv')
    df_test = pd.read_csv('test_without_nan.csv') # nan values filled by first purchase from historic transactions
    
    train_month_lag_0=df_train.card_id.map(new_map)
    test_month_lag_0=df_test.card_id.map(new_map)
    hist_lag_0=df_hist_trans.card_id.map( new_map)
    new_mech_lag_0=df_new_merchant_trans.card_id.map(new_map)
    
    
    #I we can take weekofyear,day of week, weekend as extra parameter which I didn't. I am not sure if month diff is correct. Still confused about this issue
    
    for df in [df_hist_trans,df_new_merchant_trans]:
        df['purchase_date'] = pd.to_datetime(df['purchase_date'])
        df['year'] = df['purchase_date'].dt.year
        df['weekofyear'] = df['purchase_date'].dt.weekofyear
        df['month'] = df['purchase_date'].dt.month
        df['dayofweek'] = df['purchase_date'].dt.dayofweek
        df['weekend'] = (df.purchase_date.dt.weekday >=5).astype(int)
        df['hour'] = df['purchase_date'].dt.hour
        df['authorized_flag'] = df['authorized_flag'].map({'Y':1, 'N':0})
        df['category_1'] = df['category_1'].map({'Y':1, 'N':0})
        df['month_diff'] = ((df['card_id'].map(method) - df['purchase_date']).dt.days)//30
        df['month_diff'] += df['month_lag']
        
        #https://www.kaggle.com/c/elo-merchant-category-recommendation/discussion/73244
        #df['month_diff'] = ((datetime.datetime.today() - df['purchase_date']).dt.days)//30
        #df['month_diff'] += df['month_lag']

    # We will use our extracted values for reference. From month_lag at zero (max)    

#     df_hist_trans['month_diff'] = ((df_hist_trans['card_id'].map(method) - df_hist_trans['purchase_date']).dt.days)//30
#     df_hist_trans['month_diff'] += df_hist_trans['month_lag']

#     df_new_merchant_trans['month_diff'] = ((df_new_merchant_trans['card_id'].map(method) - df_new_merchant_trans['purchase_date']).dt.days)//30
#     df_new_merchant_trans['month_diff'] += df_new_merchant_trans['month_lag']


    aggs = {}
    for col in ['month','hour','weekofyear','dayofweek','year','subsector_id','merchant_id','merchant_category_id']:
        aggs[col] = ['nunique']

    aggs['purchase_amount'] = ['sum','max','min','mean','var']
    aggs['installments'] = ['sum','max','min','mean','var']
    aggs['purchase_date'] = ['max','min']
    aggs['month_lag'] = ['max','min','mean','var']
    aggs['month_diff'] = ['mean']
    aggs['authorized_flag'] = ['sum', 'mean']
    aggs['weekend'] = ['sum', 'mean']
    aggs['category_1'] = ['sum', 'mean']
    aggs['card_id'] = ['size']

    for col in ['category_2','category_3']:
        df_hist_trans[col+'_mean'] = df_hist_trans.groupby([col])['purchase_amount'].transform('mean')
        aggs[col+'_mean'] = ['mean']    

    new_columns = get_new_columns('hist',aggs)
    df_hist_trans_group = df_hist_trans.groupby('card_id').agg(aggs)
    df_hist_trans_group.columns = new_columns
    df_hist_trans_group.reset_index(drop=False,inplace=True)
    df_hist_trans_group['hist_purchase_date_diff'] = (df_hist_trans_group['hist_purchase_date_max'] - df_hist_trans_group['hist_purchase_date_min']).dt.days
    df_hist_trans_group['hist_purchase_date_average'] = df_hist_trans_group['hist_purchase_date_diff']/df_hist_trans_group['hist_card_id_size']

    #df_hist_trans_group['hist_purchase_date_uptonow'] = (datetime.datetime.today() - df_hist_trans_group['hist_purchase_date_max']).dt.days
    #df_hist_trans_group['hist_purchase_date_uptonow'] = (hist_lag_0 - df_hist_trans_group['hist_purchase_date_max']).dt.days

    df_hist_trans_group['hist_purchase_date_uptonow'] = (df_hist_trans_group['card_id'].map(method) - df_hist_trans_group['hist_purchase_date_max']).dt.days



    df_train = df_train.merge(df_hist_trans_group,on='card_id',how='left')
    df_test = df_test.merge(df_hist_trans_group,on='card_id',how='left')
    #del df_hist_trans_group;gc.collect()

    aggs = {}
    for col in ['month','hour','weekofyear','dayofweek','year','subsector_id','merchant_id','merchant_category_id']:
        aggs[col] = ['nunique']
    aggs['purchase_amount'] = ['sum','max','min','mean','var']
    aggs['installments'] = ['sum','max','min','mean','var']
    aggs['purchase_date'] = ['max','min']
    aggs['month_lag'] = ['max','min','mean','var']
    aggs['month_diff'] = ['mean']
    aggs['weekend'] = ['sum', 'mean']
    aggs['category_1'] = ['sum', 'mean']
    aggs['card_id'] = ['size']

    for col in ['category_2','category_3']:
        df_new_merchant_trans[col+'_mean'] = df_new_merchant_trans.groupby([col])['purchase_amount'].transform('mean')
        aggs[col+'_mean'] = ['mean']

    new_columns = get_new_columns('new_hist',aggs)
    df_hist_trans_group = df_new_merchant_trans.groupby('card_id').agg(aggs)
    df_hist_trans_group.columns = new_columns
    df_hist_trans_group.reset_index(drop=False,inplace=True)
    df_hist_trans_group['new_hist_purchase_date_diff'] = (df_hist_trans_group['new_hist_purchase_date_max'] - df_hist_trans_group['new_hist_purchase_date_min']).dt.days
    df_hist_trans_group['new_hist_purchase_date_average'] = df_hist_trans_group['new_hist_purchase_date_diff']/df_hist_trans_group['new_hist_card_id_size']

    #df_hist_trans_group['new_hist_purchase_date_uptonow'] = (datetime.datetime.today() - df_hist_trans_group['new_hist_purchase_date_max']).dt.days
    #df_hist_trans_group['new_hist_purchase_date_uptonow'] = (new_mech_lag_0 - df_hist_trans_group['new_hist_purchase_date_max']).dt.days


    df_hist_trans_group['new_hist_purchase_date_uptonow'] = (df_hist_trans_group['card_id'].map(method) - df_hist_trans_group['new_hist_purchase_date_max']).dt.days



    df_train = df_train.merge(df_hist_trans_group,on='card_id',how='left')
    df_test = df_test.merge(df_hist_trans_group,on='card_id',how='left')
    #del df_hist_trans_group;gc.collect()

    df_train['outliers'] = 0
    df_train.loc[df_train['target'] < -30, 'outliers'] = 1
    df_train['outliers'].value_counts()


    for df in [df_train,df_test]:
        df['first_active_month'] = pd.to_datetime(df['first_active_month'])
        df['dayofweek'] = df['first_active_month'].dt.dayofweek
        df['weekofyear'] = df['first_active_month'].dt.weekofyear
        df['month'] = df['first_active_month'].dt.month

        #df['elapsed_time'] = (datetime.datetime.today() - df['first_active_month']).dt.days
        df['elapsed_time'] = (df['card_id'].map(method) - df['first_active_month']).dt.days

        df['hist_first_buy'] = (df['hist_purchase_date_min'] - df['first_active_month']).dt.days
        df['new_hist_first_buy'] = (df['new_hist_purchase_date_min'] - df['first_active_month']).dt.days
        for f in ['hist_purchase_date_max','hist_purchase_date_min','new_hist_purchase_date_max',\
                         'new_hist_purchase_date_min']:
            df[f] = df[f].astype(np.int64) * 1e-9
        df['card_id_total'] = df['new_hist_card_id_size']+df['hist_card_id_size']
        df['purchase_amount_total'] = df['new_hist_purchase_amount_sum']+df['hist_purchase_amount_sum']

#     for f in ['feature_1','feature_2','feature_3']:
#         order_label = df_train.groupby([f])['outliers'].mean()
#         df_train[f] = df_train[f].map(order_label)
#         df_test[f] = df_test[f].map(order_label)


    ### We will change only elapsed time

    #df_train['elapsed_time'] = (df_train['card_id'].map(method) - df_train['first_active_month']).dt.days
    #df_test['elapsed_time'] = (df_test['card_id'].map(method) - df_test['first_active_month']).dt.days  

    df_train_columns = [c for c in df_train.columns if c not in ['card_id', 'first_active_month','target','outliers']]
    df_train=df_train[df_train.outliers==0]
    target = df_train['target']
    #del df_train['target']

    param = {'num_leaves': 31,
             'min_data_in_leaf': 30, 
             'objective':'regression',
             'max_depth': -1,
             'learning_rate': 0.01,
             "min_child_samples": 20,
             "boosting": "gbdt",
             "feature_fraction": 0.9,
             "bagging_freq": 1,
             "bagging_fraction": 0.9 ,
             "bagging_seed": 11,
             "metric": 'rmse',
             "lambda_l1": 0.1,
             "verbosity": -1,
             "nthread": 4,
             "random_state": 4590}
    folds = StratifiedKFold(n_splits=5, shuffle=True, random_state=4590)
    oof = np.zeros(len(df_train))
    predictions = np.zeros(len(df_test))
    feature_importance_df = pd.DataFrame()

    for fold_, (trn_idx, val_idx) in enumerate(folds.split(df_train,df_train['outliers'].values)):
        print("fold {}".format(fold_))
        trn_data = lgb.Dataset(df_train.iloc[trn_idx][df_train_columns], label=target.iloc[trn_idx],categorical_feature=['feature_1','feature_2','feature_3'])#, categorical_feature=categorical_feats)
        val_data = lgb.Dataset(df_train.iloc[val_idx][df_train_columns], label=target.iloc[val_idx],categorical_feature=['feature_1', 'feature_2','feature_3'])#, categorical_feature=categorical_feats)

        num_round = 10000
        clf = lgb.train(param, trn_data, num_round, valid_sets = [trn_data, val_data], verbose_eval=100, early_stopping_rounds = 100)
        oof[val_idx] = clf.predict(df_train.iloc[val_idx][df_train_columns], num_iteration=clf.best_iteration)

        fold_importance_df = pd.DataFrame()
        fold_importance_df["Feature"] = df_train_columns
        fold_importance_df["importance"] = clf.feature_importance()
        fold_importance_df["fold"] = fold_ + 1
        feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)

        predictions += clf.predict(df_test[df_train_columns], num_iteration=clf.best_iteration) / folds.n_splits

    CV_error.append(np.sqrt(mean_squared_error(oof, target)))
    results.append(predictions)

fold 0
Training until validation scores don't improve for 100 rounds.
[100]	training's rmse: 1.60176	valid_1's rmse: 1.63202
[200]	training's rmse: 1.56993	valid_1's rmse: 1.60435
[300]	training's rmse: 1.55459	valid_1's rmse: 1.59345
[400]	training's rmse: 1.54471	valid_1's rmse: 1.58753
[500]	training's rmse: 1.53713	valid_1's rmse: 1.58406
[600]	training's rmse: 1.5309	valid_1's rmse: 1.58191
[700]	training's rmse: 1.52548	valid_1's rmse: 1.58048
[800]	training's rmse: 1.5207	valid_1's rmse: 1.5796
[900]	training's rmse: 1.51628	valid_1's rmse: 1.57893
[1000]	training's rmse: 1.51231	valid_1's rmse: 1.57851
[1100]	training's rmse: 1.50844	valid_1's rmse: 1.5782
[1200]	training's rmse: 1.50468	valid_1's rmse: 1.57801
[1300]	training's rmse: 1.50108	valid_1's rmse: 1.57784
[1400]	training's rmse: 1.49748	valid_1's rmse: 1.57768
[1500]	training's rmse: 1.49409	valid_1's rmse: 1.57754
[1600]	training's rmse: 1.49072	valid_1's rmse: 1.5775
[1700]	training's rmse: 1.48744	valid_1's rmse: 1.57749
[1800]	training's rmse: 1.48422	valid_1's rmse: 1.57737
[1900]	training's rmse: 1.481	valid_1's rmse: 1.57723
[2000]	training's rmse: 1.47783	valid_1's rmse: 1.57714
[2100]	training's rmse: 1.47473	valid_1's rmse: 1.57712
[2200]	training's rmse: 1.47161	valid_1's rmse: 1.57707
[2300]	training's rmse: 1.4686	valid_1's rmse: 1.57699
[2400]	training's rmse: 1.46553	valid_1's rmse: 1.57696
[2500]	training's rmse: 1.46252	valid_1's rmse: 1.57696
Early stopping, best iteration is:
[2456]	training's rmse: 1.4638	valid_1's rmse: 1.5769
fold 1
Training until validation scores don't improve for 100 rounds.
[100]	training's rmse: 1.60852	valid_1's rmse: 1.60459
[200]	training's rmse: 1.57616	valid_1's rmse: 1.57766
[300]	training's rmse: 1.56079	valid_1's rmse: 1.56717
[400]	training's rmse: 1.55064	valid_1's rmse: 1.56151
[500]	training's rmse: 1.54301	valid_1's rmse: 1.55829
[600]	training's rmse: 1.53681	valid_1's rmse: 1.55624
[700]	training's rmse: 1.53141	valid_1's rmse: 1.555
[800]	training's rmse: 1.52653	valid_1's rmse: 1.55398
[900]	training's rmse: 1.52219	valid_1's rmse: 1.55338
[1000]	training's rmse: 1.51807	valid_1's rmse: 1.55296
[1100]	training's rmse: 1.51416	valid_1's rmse: 1.55268
[1200]	training's rmse: 1.51051	valid_1's rmse: 1.55249
[1300]	training's rmse: 1.50682	valid_1's rmse: 1.55234
[1400]	training's rmse: 1.50335	valid_1's rmse: 1.55216
[1500]	training's rmse: 1.49994	valid_1's rmse: 1.55201
[1600]	training's rmse: 1.49664	valid_1's rmse: 1.55191
[1700]	training's rmse: 1.49323	valid_1's rmse: 1.55184
[1800]	training's rmse: 1.48994	valid_1's rmse: 1.55183
[1900]	training's rmse: 1.48658	valid_1's rmse: 1.55172
[2000]	training's rmse: 1.48346	valid_1's rmse: 1.55161
[2100]	training's rmse: 1.48024	valid_1's rmse: 1.55156
[2200]	training's rmse: 1.47716	valid_1's rmse: 1.55156
Early stopping, best iteration is:
[2138]	training's rmse: 1.47911	valid_1's rmse: 1.55153
fold 2
Training until validation scores don't improve for 100 rounds.
[100]	training's rmse: 1.60259	valid_1's rmse: 1.62965
[200]	training's rmse: 1.57077	valid_1's rmse: 1.60142
[300]	training's rmse: 1.55555	valid_1's rmse: 1.58981
[400]	training's rmse: 1.54569	valid_1's rmse: 1.58368
[500]	training's rmse: 1.53813	valid_1's rmse: 1.57988
[600]	training's rmse: 1.53199	valid_1's rmse: 1.57761
[700]	training's rmse: 1.52668	valid_1's rmse: 1.5762
[800]	training's rmse: 1.52189	valid_1's rmse: 1.57529
[900]	training's rmse: 1.51757	valid_1's rmse: 1.57458
[1000]	training's rmse: 1.51353	valid_1's rmse: 1.5741
[1100]	training's rmse: 1.50962	valid_1's rmse: 1.57373
[1200]	training's rmse: 1.50601	valid_1's rmse: 1.57342
[1300]	training's rmse: 1.5025	valid_1's rmse: 1.57321
[1400]	training's rmse: 1.49901	valid_1's rmse: 1.57292
[1500]	training's rmse: 1.49557	valid_1's rmse: 1.57275
[1600]	training's rmse: 1.49235	valid_1's rmse: 1.57257
[1700]	training's rmse: 1.48914	valid_1's rmse: 1.57239
[1800]	training's rmse: 1.48595	valid_1's rmse: 1.57231
[1900]	training's rmse: 1.48282	valid_1's rmse: 1.57221
[2000]	training's rmse: 1.47963	valid_1's rmse: 1.5721
[2100]	training's rmse: 1.47666	valid_1's rmse: 1.57203
[2200]	training's rmse: 1.47359	valid_1's rmse: 1.57188
[2300]	training's rmse: 1.47067	valid_1's rmse: 1.57184
[2400]	training's rmse: 1.46771	valid_1's rmse: 1.57176
[2500]	training's rmse: 1.46475	valid_1's rmse: 1.57173
[2600]	training's rmse: 1.46184	valid_1's rmse: 1.57163
[2700]	training's rmse: 1.45892	valid_1's rmse: 1.57152
[2800]	training's rmse: 1.45592	valid_1's rmse: 1.57149
Early stopping, best iteration is:
[2764]	training's rmse: 1.457	valid_1's rmse: 1.57145
fold 3
Training until validation scores don't improve for 100 rounds.
[100]	training's rmse: 1.60702	valid_1's rmse: 1.61101
[200]	training's rmse: 1.57533	valid_1's rmse: 1.58306
[300]	training's rmse: 1.56012	valid_1's rmse: 1.57157
[400]	training's rmse: 1.5503	valid_1's rmse: 1.56533
[500]	training's rmse: 1.54281	valid_1's rmse: 1.56174
[600]	training's rmse: 1.53663	valid_1's rmse: 1.55947
[700]	training's rmse: 1.53129	valid_1's rmse: 1.558
[800]	training's rmse: 1.52649	valid_1's rmse: 1.55711
[900]	training's rmse: 1.5221	valid_1's rmse: 1.55651
[1000]	training's rmse: 1.51802	valid_1's rmse: 1.55602
[1100]	training's rmse: 1.51411	valid_1's rmse: 1.55568
[1200]	training's rmse: 1.51041	valid_1's rmse: 1.55538
[1300]	training's rmse: 1.50678	valid_1's rmse: 1.55509
[1400]	training's rmse: 1.50323	valid_1's rmse: 1.55487
[1500]	training's rmse: 1.49977	valid_1's rmse: 1.55469
[1600]	training's rmse: 1.49643	valid_1's rmse: 1.55466
[1700]	training's rmse: 1.49315	valid_1's rmse: 1.55458
[1800]	training's rmse: 1.48995	valid_1's rmse: 1.55448
[1900]	training's rmse: 1.48667	valid_1's rmse: 1.55439
[2000]	training's rmse: 1.48343	valid_1's rmse: 1.55432
[2100]	training's rmse: 1.48023	valid_1's rmse: 1.55431
[2200]	training's rmse: 1.47716	valid_1's rmse: 1.55428
[2300]	training's rmse: 1.47403	valid_1's rmse: 1.55418
[2400]	training's rmse: 1.4709	valid_1's rmse: 1.5541
[2500]	training's rmse: 1.46774	valid_1's rmse: 1.55402
[2600]	training's rmse: 1.46467	valid_1's rmse: 1.55398
[2700]	training's rmse: 1.46177	valid_1's rmse: 1.554
Early stopping, best iteration is:
[2609]	training's rmse: 1.46442	valid_1's rmse: 1.55397
fold 4
Training until validation scores don't improve for 100 rounds.
[100]	training's rmse: 1.61506	valid_1's rmse: 1.57905
[200]	training's rmse: 1.58327	valid_1's rmse: 1.55103
[300]	training's rmse: 1.56791	valid_1's rmse: 1.53971
[400]	training's rmse: 1.55792	valid_1's rmse: 1.53375
[500]	training's rmse: 1.55028	valid_1's rmse: 1.53006
[600]	training's rmse: 1.54404	valid_1's rmse: 1.52786
[700]	training's rmse: 1.53865	valid_1's rmse: 1.52647
[800]	training's rmse: 1.53392	valid_1's rmse: 1.52545
[900]	training's rmse: 1.52956	valid_1's rmse: 1.52477
[1000]	training's rmse: 1.52549	valid_1's rmse: 1.52422
[1100]	training's rmse: 1.52149	valid_1's rmse: 1.52388
[1200]	training's rmse: 1.51774	valid_1's rmse: 1.52358
[1300]	training's rmse: 1.51417	valid_1's rmse: 1.52337
[1400]	training's rmse: 1.51059	valid_1's rmse: 1.52316
[1500]	training's rmse: 1.50708	valid_1's rmse: 1.52301
[1600]	training's rmse: 1.50375	valid_1's rmse: 1.52283
[1700]	training's rmse: 1.5004	valid_1's rmse: 1.52269
[1800]	training's rmse: 1.49706	valid_1's rmse: 1.52254
[1900]	training's rmse: 1.49383	valid_1's rmse: 1.52236
Early stopping, best iteration is:
[1899]	training's rmse: 1.49386	valid_1's rmse: 1.52236

In [135]:
predictions

array([-0.48264799, -0.28098615, -0.39777551, ...,  1.05381595,
       -0.74629051,  0.07038839])

In [197]:
model_with_outlier=pd.read_csv("chau_feature_engineering_date_fixed_4.csv")
model_without_outlier=pd.read_csv("chau_pur_date_4_trained_wo_out.csv")
model_with_outlier.set_index('card_id',inplace=True)
model_without_outlier.set_index('card_id',inplace=True)

In [201]:
model_with_mixed=model_without_outlier.copy()

In [203]:
model_with_mixed.loc[map2.index]=model_with_outlier.loc[map2.index]

In [209]:
model_with_mixed.reset_index(inplace=True)

In [211]:
model_with_mixed.to_csv("chau_feature_engineering_date_fixed_4_mixed_outliers.csv",index=False)

In [218]:
index_high_prob=map2[map2.target>0.5]

In [221]:
index_high_prob

                   target
card_id
C_ID_6ab591cf62  0.578366
C_ID_aae50409e7  0.574478
C_ID_bced41d837  0.573339
C_ID_ac114ef831  0.568470
C_ID_86ddafb51c  0.568377
C_ID_a74b12dcf8  0.544721
C_ID_65a0e440f8  0.542128
C_ID_e7f772dfc0  0.534590
C_ID_e54aeb08f7  0.515356
C_ID_833aa2f7af  0.502522

In [223]:
model_with_mixed[model_with_mixed.card_id.isin(index_high_prob.index)]

                card_id     target
7750    C_ID_a74b12dcf8 -25.262202
20556   C_ID_aae50409e7 -21.672768
27982   C_ID_e7f772dfc0 -18.387164
30248   C_ID_65a0e440f8 -15.969893
32446   C_ID_ac114ef831 -21.413514
70804   C_ID_833aa2f7af -15.424178
77945   C_ID_6ab591cf62 -20.672101
80840   C_ID_bced41d837 -15.642591
104991  C_ID_86ddafb51c -20.197719
114106  C_ID_e54aeb08f7 -17.926073

In [225]:
model_with_mixed_2=model_with_mixed.copy()
model_with_mixed_2.set_index('card_id',inplace=True)
model_with_mixed_2.loc[index_high_prob.index]=-33.21928095

In [227]:
model_with_mixed_2.reset_index(inplace=True)
model_with_mixed.to_csv("chau_feature_engineering_date_fixed_4_mixed_outliers_whighprop.csv",index=False)

In [ ]:
from sklearn.metrics import log_loss
from sklearn.metrics import roc_auc_score
#sklearn.metrics.roc_auc_score(y_true, y_score, average=macro, sample_weight=None, max_fpr=None)

In [ ]:
sub_df = pd.DataFrame({"card_id":df_test["card_id"].values})
sub_df["target"] = predictions
sub_df.to_csv("chau_pur_date_4_trained_wo_out.csv", index=False)

In [151]:
map_out=pd.read_csv("predicted_outliers_test.csv",squeeze=True)
map_out.set_index("card_id",inplace=True)

In [169]:
map1=map_out.sort_values('target',ascending=False).head(1340)

In [166]:
len(map_out)*1.09/100

1347.4907

In [165]:
df_train_origina=pd.read_csv('train.csv')
print("ration of outliers")
print(len(df_train_origina[df_train_origina.target<-20])/len(df_train_origina))
print(" unique values of outliers")
print(df_train_origina[df_train_origina.target<-20].target.unique())

ration of outliers
0.010930233709890698
 unique values of outliers
[-33.21928095]

In [189]:
map1=map_out.sort_values('target',ascending=False).head(1340)
map2=map_out.sort_values('target',ascending=False).head(25000)



sub_df=pd.read_csv("chau_pur_date_4_trained_wo_out.csv")
sub_df.set_index('card_id',inplace=True)
sub_df.loc[map2.index,'target']=-33.21928095
sub_df.reset_index(inplace=True)
sub_df.to_csv("chau_pur_date_4_trained_w_out_25000.csv", index=False)

If that it is same ration than outliers will be ~1340 in test set. Howver, according to their results 
https://www.kaggle.com/waitingli/combining-your-model-with-a-model-without-outlier
they choose first 25000 to be outliers rather than 1340.

In [ ]:
sub_df = pd.DataFrame({"card_id":df_train["card_id"].values})
sub_df["target_predicted"] = oof
sub_df["target_real"]=target
sub_df.to_csv("predicted_outliers_train.csv", index=False)

In [160]:
df_train_origina=pd.read_csv('train.csv')

In [ ]:
name='purchase_date_'
for i in range(1,5):
    name_=name+str(i)
    sub_df = pd.DataFrame({"card_id":df_test["card_id"].values})
    sub_df["target"] = results[i-1]
    sub_df.to_csv("chau_feature_engineering_date_fixed_"+str(i)+".csv", index=False)

In [ ]:
sub_df = pd.DataFrame({"card_id":df_test["card_id"].values})
sub_df["target"] = predictions
sub_df.to_csv("chau_feature_engineering_date_fixed_4_catfeatures.csv", index=False)

pur_date_1,pur_date_2,pur_date_3,pur_date_4
best seems to be still first and last
[3.6503261351619978, 3.652261631810461, 3.6524115687225662, 3.6506695114985384]


trying without using maping outliers: CV score 
3.649842864600676
     for f in ['feature_1','feature_2','feature_3']:
         order_label = df_train.groupby([f])['outliers'].mean()
         df_train[f] = df_train[f].map(order_label)
         df_test[f] = df_test[f].map(order_label)
         
         
same as previous with categorical features for fearure_1,2,3
3.6491202164373253

Same as previous but without outliers: CV_score
Outliers have significant effect on the score

1.5559535690683506

predicting outliers based on pur_date_4
log_loss on train
0.044014957513606616
roc_auc
0.903436128739

with categorical feature_1,feature_2,feature_3
0.0440283251986
0.903455034721

In [ ]:
mask_out=pd.read_csv("predicted_outliers_test.csv",index_col='card_id')

vfor category_3==0 in history_transactions there is only installment is equal to 0 or -1.
 0    15411747
-1         784
Name: installments, dtype: int64

if it is 'B' than various examples will appear: 
1    11677522
-1      156013
Name: installments, dtype: int64

for 'C':
2      666416
 3      538207
 4      179525
 6      132634
 10     118827
 5      116090
 12      55064
-1       21362
 8       20474
 7       10906
 9        5772
 11        830
 999       188
Name: installments, dtype: int64

### 1 fixed

3.6499271201859389

In [ ]:
cols = (feature_importance_df[["Feature", "importance"]]
        .groupby("Feature")
        .mean()
        .sort_values(by="importance", ascending=False)[:1000].index)

best_features = feature_importance_df.loc[feature_importance_df.Feature.isin(cols)]

plt.figure(figsize=(14,25))
sns.barplot(x="importance",
            y="Feature",
            data=best_features.sort_values(by="importance",
                                           ascending=False))
plt.title('LightGBM Features (avg over folds)')
plt.tight_layout()
plt.savefig('lgbm_importances_feature_date_fixed_outlier_prediction.png')

In [ ]:
sub_df = pd.DataFrame({"card_id":df_test["card_id"].values})
sub_df["target"] = predictions
sub_df.to_csv("chau_feature_engineering_3_date_updated3.csv", index=False)

**To be continued ...**

In [ ]:
best_features.groupby('Feature').mean().sort_values('importance',ascending=False).to_csv('feature_importance2.csv')

In [ ]:
df_train.to_csv('C:/Users/user/Documents/Salamat/ELO/train_new_lag_updated.csv',index=False)

In [ ]:
df_test.to_csv('C:/Users/user/Documents/Salamat/ELO/test_new_lag_updated.csv',index=False)

In [ ]:
best_features.groupby('Feature').mean().sort_values('importance',ascending=False).to_csv('best_features_dates.csv')

In [ ]:
len(target[(target<=1)&(target>=-1)])/len(target)